@font-face {
  font-family: "oooh_babyregular";
  src: url("./fonts/webfontkit-20241106-052432/ooohbaby-regular-webfont.woff2")
      format("woff2"),
    url("./fonts/webfontkit-20241106-052432/ooohbaby-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bebas_neueregular";
  src: url("./fonts/webfontkit-20241106-064725/bebasneue-regular-webfont.woff2")
      format("woff2"),
    url("./fonts/webfontkit-20241106-064725/bebasneue-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Nunito Sans;
  font-size: 16px;
}

/*HEADER */

body {
  background: linear-gradient(to bottom right, #24376e 25%, #ff6000 100%);
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "griditem griditem griditem"
    "information information information"
    "foot foot foot";

  grid-template-columns: 4% 92% 4%;
}

header {
  grid-area: header;
  height: 120px;
  color: white;
}

header ul {
  display: flex;
  justify-content: right;
  padding: 10px 0px;
}

header li {
  padding-right: 22px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

header li a {
  color: white;
  text-decoration: none;
}

header li a:hover {
  color: #ff6000;
}

.hidden-element {
  display: none;
}

header .book,
.blog-card button {
  background-color: #ff6000;
  border-radius: 10px;
  box-shadow: 2px 3px;
  height: 35px;
  width: 140px;
  margin-right: 22px;
}

header .book a,
header li a,
.blog-card button a {
  color: white;
  text-decoration: none;
}

.menu {
  display: none;
  float: right;
  margin: 15px 40px;
}

.hero {
  grid-area: hero;
  background-image: url("./resources/common\ seal7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 660px;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay-box {
  width: 350px;
  height: 520px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 6%;
}

.box {
  width: 280px;
  margin: 5px auto;
}

.type1 {
  font-family: oooh_babyregular;
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
  margin-top: 30px;
}

.type2 {
  font-family: bebas_neueregular;
  font-size: 64px;
  color: rgba(255, 255, 255, 1);
}

.type3 {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}

.hero-bubbles {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.griditem {
  grid-area: griditem;
  grid-column: 2 / 3;
  text-align: center;
  padding: 20px 0px;
}

.griditem h1 {
  font-size: 48px;
  font-family: bebas_neueregular;
  letter-spacing: 2px;
}

.information {
  grid-area: information;
  height: auto;
  grid-column: 2 / 3;
  display: inline-flex;
  position: relative;
}

.index-information-box {
  position: relative;
  height: auto;
  max-width: 700px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 8% 30px 8%;
  margin: 10px auto;
  background-color: white;
}

.index-information-box ul {
  list-style-type: none;
}

.index-information-box li,
.index-information-box li .extra {
  font-size: 24px;
  line-height: 40px;
}

.hero-book-now,
.index-information-box .book-now {
  background-color: #ff6000;
  border-radius: 10px;
  box-shadow: 2px 3px;
  height: 35px;
  width: 140px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-book-now a,
.index-information-box .book-now a {
  color: white;
  text-decoration: none;
}

.foot {
  grid-area: foot;
}

/* MEET THE TEAM PAGE */

.meet-team h1,
.gallery h1,
.trip-information h1,
.contact-us h1 {
  text-align: left;
  font-size: 36px;
  margin-left: 10px;
  color: white;
  padding: 10px;
}

.team-blog-section {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.team-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.person-card {
  min-height: 300px;
  max-height: auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 3px;
  padding: 30px;
  margin: 10px 20px;
}

.person-card img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.person-card h2 {
  font-size: 36px;
  padding: 10px;
  font-family: oooh_babyregular;
  color: black;
}

.person-card p {
  padding: 10px;
  color: white;
}

.blog-section {
  width: 500px;
  height: auto;
  background-color: #24376e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px;
  overflow: hidden;
}

.blog-card {
  height: auto;
  border-top: 6px solid #b4bca1;
  color: white;
  padding: 20px 20px;
}

.blog-title {
  color: white;
  width: 100%;
  padding: 10px;
}

.blog-title h2 {
  font-family: bebas_neueregular;
  font-size: 36px;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.blog-card h3 {
  font-size: 24px;
}

.blog-card .date {
  font-size: 12px;
  padding-bottom: 10px;
}

.data-set a {
  line-height: 40px;
}

#see-blog-button {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.blog-card button {
  margin-right: 0px;
}

/* GALLERY */

.collection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.are-you-a-west-coaster {
  position: relative;
  overflow: hidden;
  width: 80%;
}

.are-you-a-west-coaster::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.are-you-a-west-coaster iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 80px;
}

.photos img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 20px;
}

/* TRIP INFORMATION */

.at-a-glance {
  height: auto;
  background-color: #24376e;
  margin: 20px 50px 20px 50px;
  border-radius: 20px;
  border: 2px solid #b4bca1;
}

.glance-header {
  padding: 10px;
  color: white;
  width: 100%;
  height: auto;
  border-bottom: 3px solid #b4bca1;
  letter-spacing: 1px;
}

.glance-header h2,
.glance-two h2 {
  font-family: bebas_neueregular;
  font-size: 36px;
}

.glance-wrapper {
  display: flex;
  position: relative;
  height: auto;
}

.glance-box {
  height: auto;
}

.glance-one {
  width: 20%;
  min-width: 150px;
}

.glance-one img {
  display: block;
  margin: 45px auto;
}

.glance-two {
  width: 80%;
  color: white;
  padding: 40px;
  position: relative;
}

.glance-two img {
  display: block;
  float: right;
}

.glance-two-mini-head {
  position: relative;
  margin: 30px 0px;
}

.supplementary-wrapper {
  height: auto;

  margin: 20px 50px 20px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.supplementary-wrapper li {
  list-style-type: none;
}

.button-wrapper {
  width: 700px;
}

.supplementary-wrapper button {
  width: 100%;
  height: 60px;
  margin: 5px 0px;
  box-shadow: 3px 5px;
  border-radius: 20px;
  background-color: #ececec;
}

.supplementary-wrapper h1 {
  text-align: center;
}

.map-imbed {
  margin: 20px;
  position: relative;
  overflow: hidden;
  width: 500px;
}

.map-imbed::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.map-imbed iframe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  max-height: 500px;
}
/* CONTACT PAGE */

.contact-us h2 {
  margin-left: 20px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.text-wrap {
  color: white;
  padding: 20px;
  text-align: center;
  min-width: 400px;
}

.text-wrap h2 {
  font-size: 36px;
  font-family: bebas_neueregular;
  letter-spacing: 2px;
}

.text-wrap h3 {
  font-size: 24px;
}

.temp {
  height: 700px;
  border-radius: 20px;
}

.form-box {
  width: 60%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.form-box label {
  font-weight: bold;
  font-size: 20px;
}

form {
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box form .enter {
  border: 1px solid black;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
}

.form-box form textarea {
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
}

.form-box form .submit {
  background-color: #ff6000;
  color: white;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid black;
}

.address-box {
  max-width: 500px;
  background-color: #24376e;
  position: relative;
  display: flex;
  justify-content: center;
  height: 700px;
}

.address-box img {
  position: absolute;
  bottom: 0%;
  margin-left: 25px;
}

/* FOOTER */

footer {
  color: white;
  height: 100px;
  padding: 25px;
  position: relative;
}

.footer-contact p {
  display: flex;
  justify-content: center;
}

footer img {
  position: absolute;
  display: block;
  right: 2%;
}

/* REACTIVE CONDITIONS */

@media only screen and (max-width: 650px) {
  header button,
  header ul,
  footer,
  .hero-bubbles,
  .logo,
  .special {
    display: none;
  }

  header {
    height: 80px;
    margin: 0;
  }

  .logo-header h1 {
    text-align: center;
  }

  .menu {
    display: flex;
  }

  .box {
    text-align: center;
  }

  .hero-overlay-box {
    margin: 0 auto;
  }

  .index-information-box li,
  .index-information-box li .extra {
    font-size: 18px;
  }

  .person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .person-card img {
    float: none;
    margin: 0px;
  }

  .photos img {
    justify-content: center;
    width: 300px;
    height: 300px;
  }

  .glance-box {
    text-align: center;
  }

  .glance-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .at-a-glance,
  .address-box img {
    margin: 0px;
  }

  .glance-two {
    padding: 5px;
    width: 95%;
  }

  .address-box,
  .form-box form .submit {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  header ul {
    justify-content: center;
  }

  .book,
  .logo,
  #see-blog-button,
  .hero-bubbles {
    display: none;
  }

  .hidden-element {
    display: inline-block;
  }

  .form-box {
    width: 100%;
  }

  .team-blog-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .blog-section {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .blog-card {
    margin: 10px;
    background-color: #ff6000;
    color: black;
    border-top: none;
    box-shadow: 3px 5px;
  }

  .supplementary-wrapper {
    flex-wrap: wrap;
  }

  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .address-box img {
    width: 300px;
  }

  .address-box {
    height: 500px;
  }
}

@media only screen and (max-width: 1300px) {
  .logo,
  .glance-two img {
    display: none;
  }
}
