/* Variables */
:root {
  --primary-color: #ff6000;
  --secondary-color: #24376e;
  --text-color: white;
  --background-gradient: linear-gradient(
    to bottom right,
    #24376e 25%,
    #ff6000 100%
  );
  --font-family-main: "Nunito Sans", sans-serif;
  --font-family-oooh: "oooh_babyregular";
  --font-family-bebas: "bebas_neueregular";
}

/* Font Faces */
@font-face {
  font-family: "oooh_babyregular";
  src: url("./fonts/webfontkit-20241106-052432/ooohbaby-regular-webfont.woff2")
      format("woff2"),
    url("./fonts/webfontkit-20241106-052432/ooohbaby-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bebas_neueregular";
  src: url("./fonts/webfontkit-20241106-064725/bebasneue-regular-webfont.woff2")
      format("woff2"),
    url("./fonts/webfontkit-20241106-064725/bebasneue-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  font-size: 16px;
}

body {
  background: var(--background-gradient);
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "griditem griditem griditem"
    "information information information"
    "foot foot foot";
  grid-template-columns: 4% 92% 4%;
}

/* Header */
header {
  grid-area: header;
  height: 100px;
  color: var(--text-color);
}

header ul {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

header li {
  padding-right: 22px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

header li a {
  color: var(--text-color);
  text-decoration: none;
}

header li a:focus {
  color: var(--primary-color);
}

.hidden-element {
  display: none;
}

.logo1 {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}

header .book,
.blog-card button {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 2px 3px;
  height: 35px;
  width: 140px;
  margin-right: 22px;
}

header .book a,
header li a,
.blog-card button a {
  color: var(--text-color);
  text-decoration: none;
}

.menu {
  display: none;
  float: right;
  margin: 15px 40px;
  color: none;
}

/* Hero Section */
.hero {
  grid-area: hero;
  background-image: url("./resources/common seal7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 660px;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay-box {
  width: 350px;
  height: 520px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 13%;
  margin-top: 90px;
}

.box {
  width: 280px;
  margin: 5px auto;
}

.type1 {
  font-family: var(--font-family-oooh);
  font-size: 3rem; /* 48px */
  color: rgba(255, 255, 255, 1);
  margin-top: 30px;
}

.type2 {
  font-family: var(--font-family-bebas);
  font-size: 4rem; /* 64px */
  color: rgba(255, 255, 255, 1);
}

.type3 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem; /* 24px */
}

.hero-bubbles {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Grid Item */
.griditem {
  grid-area: griditem;
  grid-column: 2 / 3;
  text-align: center;
  padding: 20px 0;
}

.griditem h1 {
  font-size: 3rem; /* 48px */
  font-family: var(--font-family-bebas);
  color: #b4bca1;
}

/* Information Section */
.information {
  grid-area: information;
  height: auto;
  grid-column: 2 / 3;
  display: inline-flex;
  position: relative;
}

.index-information-box {
  position: relative;
  height: auto;
  max-width: 700px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
  margin: 10px auto;
  background-color: white;
}

.index-information-box ul {
  list-style-type: none;
}

.index-information-box li,
.index-information-box li .extra {
  font-size: 1.5rem; /* 24px */
  line-height: 2.5rem; /* 40px */
}

.hero-book-now,
.index-information-box .book-now {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 2px 3px;
  height: 35px;
  width: 140px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-book-now a,
.index-information-box .book-now a {
  color: var(--text-color);
  text-decoration: none;
}

/* Footer */
.foot {
  grid-area: foot;
}

footer {
  color: var(--text-color);
  height: 100px;
  padding: 25px;
}

.footer-contact p {
  display: flex;
  justify-content: center;
}

footer img {
  position: absolute;
  display: block;
  right: 2%;
}

/* Meet the Team Page */
.meet-team h1,
.gallery h1,
.trip-information h1,
.booking-h1 {
  text-align: left;
  font-size: 2rem; /* 32px */
  margin-left: 10px;
  margin-top: 20px;
  color: var(--text-color);
  padding: 10px;
  text-transform: uppercase;
}

.team-blog-section {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.team-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.person-card {
  min-height: 300px;
  max-height: auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 3px;
  padding: 30px;
  margin: 10px 20px;
  background-color: white;
}

.person-card img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.person-card h2 {
  font-size: 2.25rem; /* 36px */
  padding: 10px;
  font-family: var(--font-family-oooh);
  color: black;
}

.person-card p {
  padding: 10px;
  color: black;
}

.blog-div {
  width: 500px;
  height: auto;
  background-color: #24376e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px;
  overflow: hidden;
  padding: 20px;
}

.blogEntryDiv {
  height: auto;
  border-top: 6px solid #b4bca1;
  padding: 20px 20px;
  color: white;
}

.blogEntryDate {
  font-size: 0.75rem; /* 12px */
  padding-bottom: 10px;
}

.blogEntryHeading {
  font-size: 1.5rem; /* 24px */
  padding: 10px 0px;
}

.blog-div h2 {
  font-family: var(--font-family-bebas);
  font-size: 2.25rem; /* 36px */
  letter-spacing: 1px;
}

.blogHead {
  width: 100%;
  color: var(--text-color);
  padding: 10px 20px;
}

.blogEntryButton {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 2px 3px;
  height: 35px;
  width: 140px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogEntryButton a {
  color: var(--text-color);
  text-decoration: none;
}

/* Gallery */
.collection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.are-you-a-west-coaster {
  position: relative;
  overflow: hidden;
  width: 80%;
}

.are-you-a-west-coaster::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.are-you-a-west-coaster iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 30px;
}

.photos img {
  width: auto;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 10px;
}

/* Trip Information */
.at-a-glance {
  height: auto;
  background: none;
  margin: 20px 50px;
  border-radius: 20px;
}

.glance-header {
  padding: 10px;
  color: var (--text-color);
  width: 100%;
  height: auto;
  border-bottom: 3px solid #b4bca1;
  letter-spacing: 1px;
}

.glance-header h2,
.glance-two h2 {
  font-family: var(--font-family-main);
  font-size: 2.25rem; /* 36px */
}

.glance-wrapper {
  display: flex;
  position: relative;
  height: auto;
  border-bottom: 3px solid #b4bca1;
}

.glance-box {
  height: auto;
}

.glance-one {
  width: 20%;
  min-width: 150px;
}

.glance-one img {
  display: block;
  margin: 45px auto;
}

.glance-two {
  width: 80%;
  color: var(--text-color);
  padding: 40px 40px 40px 70px;
  position: relative;
  text-align: center;
}

.glance-two img {
  display: block;
  float: right;
}

.glance-two-mini-head {
  position: relative;
  margin: 30px 0;
}

.glance-two-mini-head h3 {
  font-size: 1.7rem;
  text-align: center;
}

.supplementary-wrapper {
  height: auto;
  margin: 20px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.supplementary-wrapper li {
  list-style-type: none;
}

.button-wrapper {
  width: 700px;
  margin-top: 40px;
}

.button-wrapper h2 {
  color: white;
  font-size: 1.5rem; /* 24px */
  padding: 10px;
}
.supplementary-wrapper button {
  width: 100%;
  height: 3.75rem; /* 60px */
  margin: 5px 0;
  box-shadow: 3px 5px;
  border-radius: 20px;
  background-color: #ececec;
}

.menufaq {
  display: none;
  width: 100%;
  background-color: #ececec;
  height: auto;
  padding: 1.25rem; /* 20px */
  border-radius: 20px;
  margin: 10px 0;
}

.buttonfaq {
  padding: 0px 10px;
}

.supplementary-wrapper h2 {
  text-align: center;
}

.map-imbed {
  margin: 20px;
  position: relative;
  overflow: hidden;
  width: 500px;
}

.map-imbed::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.map-imbed iframe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  max-height: 500px;
}

/* Contact Page */

.phone-box {
  color: white;
  text-align: center;
  background-color: #24376e;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

.phone-box h3 {
  font-size: 20px;
}

.text-wrap {
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}

.text-wrap h2 {
  font-size: 2.25rem; /* 36px */
  font-family: var(--font-family-bebas);
  letter-spacing: 0.125rem; /* 2px */
}

.text-wrap h3 {
  font-size: 1.5rem; /* 24px */
}

.address-box {
  max-width: 500px;
  background-color: var(--secondary-color);
  position: relative;
  display: flex;
  justify-content: center;
  height: 700px;
}

.address-box img {
  position: absolute;
  bottom: 0;
}

/* Footer */
footer {
  color: var(--text-color);
  height: 100px;
  padding: 25px;
}

.footer-contact p {
  display: flex;
  justify-content: center;
}

footer img {
  position: absolute;
  display: block;
  right: 2%;
}

.container-test {
  display: flex;
  justify-content: space-between;
}

.contact-test {
  width: 100%;
  height: auto;
}

.contact-test h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.flexible-container {
  width: 1000px;
  display: inline-flex;
}

#flexible-test-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}

.test-box {
  width: 400px;
  margin: 10px;
  padding: 10px;
}

.info-test {
  color: white;
  text-align: center;
}

.TA_selfserveprop {
  margin-top: 20px;
  margin: 20px auto;
}

.temp {
  height: auto;
  border-radius: 20px;
}

.form-box {
  padding: 20px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.form-box label {
  font-weight: bold;
  font-size: 1.25rem; /* 20px */
  color: var(--text-color);
}

form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box form .enter {
  border: 1px solid black;
  width: 100%;

  max-width: 400px;
  height: 2.5rem; /* 40px */
  border-radius: 20px;
  padding-left: 10px;
}

.form-box form textarea {
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  padding: 15px;
}

.form-box form .submit {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 18.75rem; /* 300px */
  min-width: 200px;
  max-width: 300px;
  height: 2.5rem; /* 40px */
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 20px;
}

/* Focus Styles */
a:focus,
button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

/* Media Queries */
@media only screen and (max-width: 650px) {
  header button,
  header ul,
  .hero-bubbles,
  .special,
  .foot img {
    display: none;
  }

  .hero-overlay-box {
    width: 15.625rem; /* 250px */
    height: 23.75rem; /* 380px */
    margin-left: 0;
  }

  .type1 {
    font-family: var(--font-family-oooh);
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
  }

  .type2 {
    font-family: var(--font-family-bebas);
    font-size: 2.5rem; /* 40px */
    color: rgba(255, 255, 255, 1);
  }

  .type3 {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem; /* 16px */
  }

  .box {
    width: 200px;
  }

  header {
    height: 80px;
    margin: 0;
  }

  .logo-header h1 {
    text-align: center;
  }

  .menu {
    display: flex;
  }

  .box {
    text-align: center;
  }

  .hero-overlay-box {
    margin: 0 auto;
  }

  .index-information-box li,
  .index-information-box li .extra {
    font-size: 1rem; /* 16px */
  }

  .person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .person-card img {
    float: none;
    margin: 0;
  }

  .photos img {
    width: auto /* 250px */;
    height: 200px; /* 250px */
  }

  .glance-box {
    text-align: center;
  }

  .glance-header {
    padding-left: 40px;
    border-bottom: none;
  }

  .glance-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: none;
  }

  .at-a-glance,
  .address-box img {
    margin: 0;
  }

  .glance-two {
    padding: 5px;
    width: 95%;
  }

  .address-box,
  .form-box form .submit {
    width: 90%;
  }

  .phone-box {
    width: 90%;
  }

  .button-wrapper {
    width: 95%;
    margin-bottom: 30px;
  }

  .supplementary-wrapper {
    margin: 0;
  }

  .meet-team h1,
  .trip-information h1,
  .gallery h1,
  .contact-us h1,
  .bokunBook h1 {
    font-size: 1.5rem; /* 24px */
    text-align: center;
  }

  .griditem h1 {
    font-size: 2rem; /* 32px */
  }

  .glance-header h2,
  .glance-two h2 {
    font-size: 1.5rem; /* 24px */
    text-align: center;
  }

  .glance-header p {
    text-align: center;
  }

  .glance-header h2 {
    display: none;
  }

  .glance-two-mini-head h3 {
    font-size: 1.3rem; /* 20.8px */
  }

  .blog-div {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 992px) {
  header ul {
    justify-content: center;
  }

  .book,
  #see-blog-button,
  .hero-bubbles {
    display: none;
  }

  .hidden-element {
    display: inline-block;
  }

  .hero-overlay-box {
    margin: 0 auto;
  }

  .team-blog-section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .person-card {
    width: 90%;
  }

  .person-card img {
    width: 12.5rem; /* 200px */
    height: 12.5rem; /* 200px */
  }

  .supplementary-wrapper {
    flex-wrap: wrap;
  }

  .address-box img {
    width: 18.75rem; /* 300px */
  }

  .address-box {
    height: 500px;
    margin-top: 20px;
  }

  .blog-div {
    width: 90%;
  }

  .container-test {
    flex-direction: column;
    align-items: center;
  }

  #flexible-test-box {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    width: 100%;
  }

  .test-box {
    width: auto;
    margin: 0px;
    padding: 0px;
  }

  .info-test {
    width: 90%;
    margin: 0px;
    margin-top: 20px;
  }

  .bokunWidget {
    width: 100%;
    margin: 0px;
  }

  .bokun-box {
    width: 90%;
    margin: 0px;
    padding: 0px;
  }

  #TA_selfserveprop508 {
    display: none;
  }

  .contact-test {
    height: auto;
    width: 90%;
    margin-top: 20px;
  }

  .logo1 {
    display: none;
  }

  .booking-h1 {
    text-align: center;
  }

  .footer-contact p {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 1300px) {
  .flexible-container {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
}
